nav {
  background: linear-gradient(
      to right, #0b1f95, #06443b
  );
  color: #FFF;

  a {
    text-decoration: none;
    color: white;
    font-size: x-large;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 20%;
      margin: 0;
      flex-direction: row-reverse;

      li {
        padding: 2%;
        cursor: pointer;
        font-size: 22px;
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}
